<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <script
            src="https://js.sentry-cdn.com/c5e4675807998ce4d4957b8ba136ae69.min.js"
            crossorigin="anonymous"
    ></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const button = document.querySelector('.group button');
            const dropdown = document.getElementById('dropdown');
            const overlay = document.getElementById('overlay');

            button.addEventListener('click', function() {
                console.log("Button clicked");
                dropdown.classList.toggle('opacity-0');
                overlay.classList.toggle('hidden');
                if (overlay.classList.contains('hidden')) {
                    overlay.style.pointerEvents = 'none';
                    dropdown.style.pointerEvents = 'none';
                } else {
                    overlay.style.pointerEvents = 'auto';
                    dropdown.style.pointerEvents = 'auto';
                }
            });
            overlay.addEventListener('click', function() {
                console.log("Overlay clicked");
                dropdown.classList.add('opacity-0');
                overlay.classList.add('hidden');
                overlay.style.pointerEvents = 'none';
                dropdown.style.pointerEvents = 'none';
            });

            const fileInput = document.getElementById('dropzone-file');
            const errorMessage = document.getElementById('error-message');

            fileInput.addEventListener('change', function() {
                const file = this.files[0];
                if (file && file.type === 'video/mp4') {
                    errorMessage.classList.add('hidden');
                } else {
                    errorMessage.classList.remove('hidden');
                    this.value = ''; // Clear the file input
                }
            });

            document.getElementById('dropzone-file').addEventListener('change', function() {
                var fileNameDisplay = document.getElementById('file-name');
                if (this.files.length > 0) {
                    // Display the file name if a file is selected
                    fileNameDisplay.textContent = this.files[0].name;
                } else {
                    // Reset the text if no file is selected
                    fileNameDisplay.textContent = 'No file chosen';
                }
            });

        });


    </script>


</head>
<body>
<div class="h-screen w-screen bg-gray-900 bg-cover bg-no-repeat" style="background-image: url('../static/images/background.png');">
    <nav class="absolute container mx-auto p-2 bg-gray-800 bg-opacity-40 rounded-3xl shadow-2xl left-0 right-0">
        <div class="flex justify-between items-center flex-wrap">

            <div class="flex-1 min-w-0">
                <a href="/dashboard">
                    <img class="p-2 size-14" src="../static/assets/VK.svg">
                </a>
            </div>

            <div class="flex-1 min-w-0 text-center lg:hidden">
                <p class="text-white text-xl text-extrabold VK-Sans">
                    Video Conversion Service
                </p>
            </div>

            <div class="flex-grow lg:flex space-x-14 justify-center hidden">
                <a href="/convert" class=" mt-1 mb-1  bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 VK-Sans text-white bg-gray-800 bg-opacity-20  border border-gray-200 rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Convert
                </a>

                <a href="/cut" class=" mt-1 mb-1  VK-Sans text-white bg-gray-800 bg-opacity-20 bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200  rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Cut
                </a>


                <a href="/watermark" class=" mt-1 mb-1 VK-Sans text-white bg-gray-800 bg-opacity-20 bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200   rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Watermark
                </a>


                <a href="/screenshot" class="mt-1 mb-1  VK-Sans text-white bg-gray-800 bg-opacity-20  bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200  rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Screenshot
                </a>

            </div>

            <div class="flex-1 min-w-0 text-right">
                <div class="group p-2 inline-block">
                    <button class="block h-11 w-11 z-10 rounded-full overflow-hidden border-2 border-gray-200 focus:border-white">
                        <img class="h-full w-full object-cover" src="{{.userpicture}}">
                    </button>
                    <button id="overlay" class="hidden fixed z-10 inset-0 bg-gray-800 bg-opacity-20 backdrop-blur-sm"></button>
                    <div id="dropdown" class="absolute mt-1 right-0 opacity-0 z-10 transition-opacity duration-300 bg-gray-800 bg-opacity-40 border border-gray-200 rounded-3xl shadow-2xl">
                        <p class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white bg-gradient-to-r from-blue-600 to-purple-500 VK-Sans rounded-t-3xl shadow-2xl">Привет,  <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">{{.userName}}!</span></p>
                        <a href="/convert" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Convert</a>
                        <a href="/cut" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Cut</a>
                        <a href="/watermark" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Watermark</a>
                        <a href="/screenshot" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Screenshot</a>
                        <a href="/profile" class="block px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 lg:rounded-t-3xl shadow-2xl">Profile</a>
                        <a href="/signout" class="block px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 rounded-b-3xl shadow-2xl">Sign Out</a>
                    </div>



                </div>
            </div>

        </div>


    </nav>

    <div class="flex justify-center items-center h-full w-full">
        <div class="mt-3 rounded-3xl bg-gray-800 bg-opacity-40  sm:px-10 sm:mb-8 sm:py-10 md:px-10 md:py-10 shadow-2xl backdrop-blur-md">
            <div class="text-white text-center VK-Sans">
                <h1 class="mb-2 text-xl sm:text-2xl md:text-3xl mb-8">Конвертировать видео</h1>
                <div class="mb-4 sm:mb-8 flex flex-col sm:flex-row items-center justify-between">
                    <div class="flex flex-col items-center justify-end mb-4 sm:mb-0">
                        <form action="/convert" method="post" enctype="multipart/form-data" class="flex flex-col items-center justify-center w-full">
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-600 bg-gray-800 bg-opacity-20 border-dashed rounded-lg cursor-pointer">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                    </svg>
                                    <p class="mb-2 text-sm text-white bg-opacity-40 px-4"><span class="font-semibold ">Нажми или перетащи сюда</span>, чтобы загрузить</p>
                                    <p class="text-xs ">MP4 (не более. 20MB)</p>
                                </div>
                                <input id="dropzone-file" type="file" name="file" class="hidden" />
                                <p id="file-name" class="text-sm  mt-2">Файл не выбран</p>
                            </label>

                            <div id="error-message" class="hidden text-red-500 text-sm">Пожалуйста, выберите формат файла MP4</div>

                            <div class="text-white mt-4 ">
                                <p >Выбери формат файла, в который хочешь преобразовать</p>
                                <select name="output_format" class="mt-4 bg-gray-800 rounded-full bg-opacity-40 text-white border border-gray-300  py-2 px-4">
                                    <option value="" disabled selected>Формат выходного файла</option>
                                    <option value="mkv">Mkv</option>
                                    <option value="mov">Mov</option>
                                    <option value="mp3">Mp3</option>
                                </select>
                            </div>

                            <button type="submit" class="mt-8 border border-gray-300 bg-gray-800 bg-opacity-20 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                Отправить
                            </button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>
