<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <script
            src="https://js.sentry-cdn.com/c5e4675807998ce4d4957b8ba136ae69.min.js"
            crossorigin="anonymous"
    ></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const button = document.querySelector('.group button');
            const dropdown = document.getElementById('dropdown');
            const overlay = document.getElementById('overlay');

            button.addEventListener('click', function() {
                console.log("Button clicked");
                dropdown.classList.toggle('opacity-0');
                overlay.classList.toggle('hidden');
                if (overlay.classList.contains('hidden')) {
                    overlay.style.pointerEvents = 'none';
                    dropdown.style.pointerEvents = 'none';
                } else {
                    overlay.style.pointerEvents = 'auto';
                    dropdown.style.pointerEvents = 'auto';
                }
            });
            overlay.addEventListener('click', function() {
                console.log("Overlay clicked");
                dropdown.classList.add('opacity-0');
                overlay.classList.add('hidden');
                overlay.style.pointerEvents = 'none';
                dropdown.style.pointerEvents = 'none';
            });

        });
    </script>

</head>
<body>
<div class="h-screen w-screen bg-gray-900 bg-cover bg-no-repeat" style="background-image: url('../static/images/background.png');">
    <nav class="absolute container mx-auto p-2 bg-gray-800 bg-opacity-40 rounded-3xl shadow-2xl left-0 right-0">
        <div class="flex justify-between items-center flex-wrap">

            <div class="flex-1 min-w-0">
                <a href="/dashboard">
                    <img class="p-2 size-14" src="../static/assets/VK.svg">
                </a>
            </div>

            <div class="flex-1 min-w-0 text-center lg:hidden">
                <p class="text-white text-xl text-extrabold VK-Sans">
                    Video Conversion Service
                </p>
            </div>

            <div class="flex-grow lg:flex space-x-14 justify-center hidden">
                <a href="/convert" class=" mt-1 mb-1  bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 VK-Sans text-white bg-gray-800 bg-opacity-20  border border-gray-200 rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Convert
                </a>

                <a href="/cut" class=" mt-1 mb-1  VK-Sans text-white bg-gray-800 bg-opacity-20 bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200  rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Cut
                </a>


                <a href="/watermark" class=" mt-1 mb-1 VK-Sans text-white bg-gray-800 bg-opacity-20 bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200   rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Watermark
                </a>


                <a href="/screenshot" class="mt-1 mb-1  VK-Sans text-white bg-gray-800 bg-opacity-20  bg-gradient-to-r  hover:from-blue-600 hover:to-purple-500 border border-gray-200  rounded-full text-md px-10 py-2 text-center inline-flex items-center">
                    Screenshot
                </a>

            </div>

            <div class="flex-1 min-w-0 text-right">
                <div class="group p-2 inline-block">
                    <button class="block h-11 w-11 z-10 rounded-full overflow-hidden border-2 border-gray-200 focus:border-white">
                        <img class="h-full w-full object-cover" src="{{.userpicture}}">
                    </button>
                    <button id="overlay" class="hidden fixed z-10 inset-0 bg-gray-800 bg-opacity-20 backdrop-blur-sm"></button>
                    <div id="dropdown" class="absolute mt-1 right-0 opacity-0 z-10 transition-opacity duration-300 bg-gray-800 bg-opacity-40 border border-gray-200 rounded-3xl shadow-2xl">
                        <p class="block lg:hidden px-6 py-2 text-white text-center VK-Sans rounded-t-3xl shadow-2xl">Привет, <span class="font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">{{.userName}}!</span>
                        </p>
                        <a href="/convert" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Convert</a>
                        <a href="/cut" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Cut</a>
                        <a href="/watermark" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Watermark</a>
                        <a href="/screenshot" class="block lg:hidden px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 shadow-2xl">Screenshot</a>
                        <a href="/profile" class="block px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-pink-500 hover:to-blue-600 lg:rounded-t-3xl shadow-2xl">Profile</a>
                        <a href="/signout" class="block px-6 py-2 text-center transition-opacity duration-300 text-white VK-Sans bg-gradient-to-r hover:from-blue-600 hover:to-purple-500 rounded-b-3xl shadow-2xl">Sign Out</a>
                    </div>



                </div>
            </div>

        </div>


    </nav>
    <div class="flex justify-center items-center h-full w-full">
        <div class="rounded-3xl bg-gray-800 bg-opacity-40 px-4 py-4  sm:px-8 sm:mb-8 sm:py-10 md:px-20 md:py-20 shadow-2xl backdrop-blur-md">
            <div class="text-white VK-Sans">

                <div class=" mt-auto mb-4 sm:mb-8 flex flex-col items-center ">

                    <img src="../static/assets/video-player.png" class="rounded-lg w-24 sm:w-34 md:w-64" alt="" />
                    <h1 class="mb-2 text-xl sm:text-2xl md:text-3xl text-center py-4 sm:py-6 md:py-9 VK-Sans"></h1>

                    <p
                            class=" mb-2 ml-2 VK-Sans text-center ">
                        Очень рад видеть тебя здесь, <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">{{.userName}}!</span>


                    </p>

                    <p
                            class=" mt-2 mb-4 ml-2 VK-Sans text-center ">
                        Этот сервис позволяет тебе <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">вырезать</span> /  <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">конвертировать</span>  / <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">ставить водяные знаки</span>  / <span class=" font-extrabold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">делать скриншоты</span> из твоих видео

                    </p>

                    <p class="hidden lg:block mt-2 mb-2 ml-2 VK-Sans text-center md:text-wrap ">
                        Выбери функцию, которую ты хочешь использовать <span class=" font-bold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">сверху</span>


                    </p>

                    <p
                            class=" mb-2 ml-2 VK-Sans text-center lg:hidden ">
                        Нажми на круглую кнопку в <span class="font-bold bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent">правом верхнем углу</span>  чтобы использовать нужную функцию


                    </p>


                </div>

            </div>
        </div>


    </div>
</div>

</body>

</html>
