<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <script
            src="https://js.sentry-cdn.com/c5e4675807998ce4d4957b8ba136ae69.min.js"
            crossorigin="anonymous"
    ></script>

</head>
<body>
<div class="flex h-screen w-screen items-center justify-center  bg-gray-900 bg-cover bg-no-repeat" style="background-image: url('../static/images/background.png');">
    <div class="rounded-3xl bg-gray-800 bg-opacity-40 px-4 py-4  sm:px-10 sm:mb-8 sm:py-10 md:px-24 md:py-24 shadow-2xl backdrop-blur-md">
        <div class="text-white VK-Sans">
            <div class="mb-4 sm:mb-8 flex flex-col items-center">
                <img src="../static/assets/ok-persik.webp" class="w-24 sm:w-32 md:w-40" alt="" />
                <h1 class="mb-2 text-3xl sm:text-2xl md:text-3xl text-center py-4 sm:py-6 md:py-9 VK-Sans">Подверждение почты</h1>
                <ul class="mb-2 ml-2 VK-Sans text-center">
                    <li class="text-sm sm:text-md indent-2">Мы отправили код подтверждения на твою почту</li>
                </ul>
                <ul class="mt-2 mb-2 VK-Sans py-2 text-center">
                    <li class="text-xs sm:text-sm indent-2">В случае, если ты его не получил, нажми на кнопку ниже</li>
                </ul>

            </div>
            <div class="flex flex-row justify-center ">
                <a href="/profile/email" class="mt-4 sm:mt-8 VK-Sans text-white bg-gray-800 text-center bg-opacity-40 hover:bg-blue-700 border border-gray-200 focus:ring-2 focus:outline-none focus:ring-gray-100 font-sans rounded-full text-sm sm:text-md px-10 sm:px-10 py-2 text-center inline-flex items-center">
                    попробуй еще раз
                    <svg class="lg:ml-4 h-6 w-8 sm:h-8 sm:w-10 ml-2"  xmlns="http://www.w3.org/2000/svg" width="94" height="32" viewBox="0 0 94 32" fill="none">
                        <path d="M77 1L93 16L77 31" stroke="white"/>
                        <path d="M93 16L0 16" stroke="white"/> ></svg>

                </a>


            </div>

            <div class="absolute  top-2 sm:left-2 md:-right-20 md:top-2 sm:size-11 md:w-36 md:h-36">

                <a href="/profile">

                    <svg width="40px" height="40px" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd" stroke="#aaaaaa" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 2)">
                            <circle cx="8.5" cy="8.5" r="8"/>
                            <g transform="matrix(0 1 -1 0 17 0)">
                                <path d="m5.5 11.5 6-6"/>
                                <path d="m5.5 5.5 6 6"/>
                            </g>
                        </g>
                    </svg>

                </a>

            </div>
        </div>
    </div>
</div>
</body>

</html>
